/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* Base code */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Global Css */

.container{
    max-width: 90%;
    margin: 1rem auto;
    height: 45vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.content{
    padding: .4rem;
}


/* Custom Css */

.first-box{
    background-color: blanchedalmond;
}

.second-box{
    background-color: burlywood;
}

.tariq-box {
    background-image: linear-gradient(to bottom right, #0000ff31, #ff000033);
}
.shakawath-box{
    background-color: aqua;
   
}